.h-500{
    height: 500px;
}
.fs-9{
    font-size: 9px;
}
.fs-10{
    font-size: 10px;
}
.fs-12{
    font-size: 12px;
}
.fs-16{
    font-size: 16px;
}
.fs-18{
    font-size: 18px;
}
/*SM*/
@media (min-width: 576px) {
	
}
/*md*/
@media (min-width: 768px) {
 
}
/*lg*/
@media (min-width: 992px) {
    .fs-lg-11{
        font-size: 11px;
    }
    .fs-lg-12{
        font-size: 12px;
    }
    .fs-lg-13{
        font-size: 13px;
    }
    .fs-lg-14{
        font-size: 14px;
    }
    .fs-lg-16{
        font-size: 16px;
    }
    .fs-lg-22{
        font-size: 22px;
    }
    .fs-lg-32{
        font-size: 32px;
    }
    .fs-lg-42{
        font-size: 42px;
    }
    .h-lg-225{
        height: 225px;
    }
    .h-lg-300{
        height: 300px;
    }
    .h-lg-340{
        height: 340px;
    }
    .h-lg-500{
        height: 500px;
    }
}

/*xl*/
@media (min-width: 1200px) {

}